@page
@model MyApp.Namespace.DetailsModel
@{
}
<div class="justify-content-center text-center">
<h1>Detalles Personas</h1>
</div>
<hr>
<div class="row">
<dt class="col-ms-2">
   @Html-DisplayNameFor(m => m.Persona.Nombre) 
</dt>
<dt class="col-ms-2">
   @Html-DisplayNameFor(m => m.Persona.Apellidos) 
</dt>
<dt class="col-ms-2">
   @Html-DisplayNameFor(m => m.Persona.Edad) 
</dt>
<dt class="col-ms-2">
   @Html-DisplayNameFor(m => m.Persona.Telefono) 
</dt>
<dt class="col-ms-2">
   @Html-DisplayNameFor(m => m.Persona.Direccion) 
</dt>
<dt class="col-ms-2">
   @Html-DisplayNameFor(m => m.Persona.Cedula) 
</dt>
</div>