@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Desarrollo Scrum</h1>
    <h1 class="display-5">Proyecto Automotriz</h1>
    <h1 class="display-6">Mintic</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
