@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <h1 class="display-4">Desarrollo Scrum</h1>
    <h1 class="display-8">Proyecto Automotriz</h1>
    <h1 class="display-8">Mintic</h1>
    <p>Learn about <a href="https://balsamiq.cloud/sjj383m/pn4ag1a/rC028">Muckup balsamiq</a>.</p>
</div>
