@page
@model MyApp.Namespace.UpdateCarModel
@{
}
<div class="justify-content-center text-center">
<h1>Actualizar Carros</h1>
</div>
<br>
<div class="row">
    <div class="col-md-5"></div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from group">
            <label asp-for="Carro.Placa" class="control -label"></label>
            <input asp-for="Carro.Placa" class="form-control" />
            <span asp-validation-for="Carro.Placa" class="text-danger"></span>
        </div>
        <div class="from group">
            <label asp-for="Carro.Marca" class="control -label"></label>
            <input asp-for="Carro.Marca" class="form-control" />
            <span asp-validation-for="Carro.Marca" class="text-danger"></span>
        </div>
        <div class="from group">
            <label asp-for="Carro.Modelo" class="control -label"></label>
            <input asp-for="Carro.Modelo" class="form-control" />
            <span asp-validation-for="Carro.Modelo" class="text-danger"></span>
        </div>
        <div class="from group">
            <label asp-for="Carro.Color" class="control -label"></label>
            <input asp-for="Carro.Color" class="form-control" />
            <span asp-validation-for="Carro.Color" class="text-danger"></span>
        </div>
        <div class="from group">
            <label asp-for="Carro.Tipo" class="control -label"></label>
            <input asp-for="Carro.Tipo" class="form-control" />
            <span asp-validation-for="Carro.Tipo" class="text-danger"></span>
        </div>
        <div class="from group">
            <label asp-for="Carro.Cilindraje" class="control -label"></label>
            <input asp-for="Carro.Cilindraje" class="form-control" />
            <span asp-validation-for="Carro.Cilindraje" class="text-danger"></span>
        </div>
        <div class="from group">
            <label asp-for="Carro.Diagnostico" class="control -label"></label>
            <select name="Carro.Diagnostico" id="Carro.Diagnostico">
                <option value="Mantenimiento">Mantenimiento</option>
                <option value="Reparacion">Reparacion</option>
                <option value="Limpieza" >Limpieza</option>
                <option value="Todas Las Anteriores">Todas Las Anteriores</option>
            </select>
            <span asp-validation-for="Carro.Diagnostico" class="text-danger"></span>
        </div>
                <input type="hidden" asp-for="Carro.Id"/>
        <input type="hidden" asp-for="Carro"/>
        <br>
        <div class="from group">
            <input type="submit" value="Actualizar Carro" class="btn btn-primary" />
        </div>
    </form>
</div>